<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/kavaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   	     xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <listener>
  	<listener-class>com.medici.arang.signup.InitializeDataSource</listener-class>
  </listener>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddWorkServlet</display-name>
  	<servlet-name>AddWorkServlet</servlet-name>
  	<servlet-class>medici.work.AddWorkServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteUserServlet</display-name>
  	<servlet-name>DeleteUserServlet</servlet-name>
  	<servlet-class>com.medici.arang.signup.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>FrontController</display-name>
  	<servlet-name>FrontController</servlet-name>
  	<servlet-class>com.arang.medici.board.frontCon.FrontController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddUserServlet</display-name>
  	<servlet-name>AddUserServlet</servlet-name>
  	<servlet-class>com.arang.medici.signup.controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginServlet</display-name>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.arang.medici.signup.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutServlet</display-name>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>com.arang.medici.signup.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MyPageServlet</display-name>
  	<servlet-name>MyPageServlet</servlet-name>
  	<servlet-class>com.arang.medici.signup.controller.MyPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SelectUserServlet</display-name>
  	<servlet-name>SelectUserServlet</servlet-name>
  	<servlet-class>com.arang.medici.signup.controller.SelectUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateUserServlet</display-name>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<servlet-class>com.arang.medici.signup.controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>FindArtworkServlet</display-name>
  	<servlet-name>FindArtworkServlet</servlet-name>
  	<servlet-class>com.arang.medici.storage.service.FindArtworkServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PaymentCancleServlet</display-name>
  	<servlet-name>PaymentCancleServlet</servlet-name>
  	<servlet-class>com.arang.medici.storage.service.PaymentCancleServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>PaymentServlet</display-name>
  	<servlet-name>PaymentServlet</servlet-name>
  	<servlet-class>com.arang.medici.storage.service.PaymentServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>StorageServiceServlet</display-name>
  	<servlet-name>StorageServiceServlet</servlet-name>
  	<servlet-class>com.arang.medici.storage.service.StorageServiceServlet</servlet-class>
  </servlet>
</web-app>
